<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="reporter" class="dev.robertscott.springmavenexample.Feedback"></bean>
    <bean id="myCoach" class="dev.robertscott.springmavenexample.BaseballCoach">
        <constructor-arg ref="reporter"></constructor-arg>
    </bean>
</beans>